
<div class="row">
    <div class="span12">
        <table id="galettes" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="name">Name</th>
                <th class="name">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="galette in galettes">
                <td>{{galette.name}}</td>
                <td>{{galette.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>