<div class="row">
    <div class="span12 relative">
        <span></span>
        <a id="addHello" class="btn btn-success right-btn" href="#/new">Add a galette</a>
    </div>
</div>


<div class="row">
    <div class="span12">
        <table id="galettes" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="name">Name</th>
                <th class="edit"></th>
                <th class="remove"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="galette in galettes">
                <td>{{galette.name}}</td>
                <td class="edit"><a href="#/edit/{{galette.id}}" class="icon-edit" role="button"></a></td>
                <td class="remove">
                    <a href="#delete{{galette.id}}" role="button" data-toggle="modal" class="icon-remove"></a>
                    <div id="delete{{galette.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modelLabel{{galette.id}}" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="modelLabel{{galette.id}}">Remove {{galette.name}}</h3>
                        </div>
                        <div class="modal-body">
                            <p>Warning, the galette {{galette.name}} will be removed definitively</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button id="remove" class="btn btn-danger" ng-click="delete(galette)">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>